compile_resources/cod_ver_2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://www.w3.org/2001/12/soap-envelope"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2001/12/soap-envelope">
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
               schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd "/>
    <xs:element name="Envelope" type="tns:Envelope"/>
    <xs:complexType name="Envelope">
        <xs:sequence>
            <xs:element ref="tns:Header" minOccurs="0"/>
            <xs:element ref="tns:CertOrigin"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:element name="Header" type="tns:Header"/>
    <xs:complexType name="Header">
        <xs:sequence>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:element name="CertOrigin" type="tns:Body"/>
    <xs:complexType name="Body">
        <xs:sequence>
            <xs:element name="CODEH" id="CODEH">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CODExporter">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="COD" id="COD">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CODVer">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="8"/>
                                                            <xs:pattern value="[0-9]{1,}\.[0-9]{1,}\.[0-9]{1,}"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="CODSubmitterType">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="EXP"/>
                                                            <xs:enumeration value="REP"/>
                                                            <xs:enumeration value="APO"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="Agreement">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="AgreementName">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:maxLength value="256"/>
                                                                        <xs:minLength value="3"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="AgreementAcronym" type="tns:Acronyms"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:choice>
                                                    <xs:element name="FormR252" type="tns:FormR252Type"/>
                                                    <xs:element name="FormA6" type="tns:FormA6Type"/>
                                                    <xs:element name="FormA14" type="tns:FormA14Type"/>
                                                    <xs:element name="FormA18" type="tns:FormA18Type"/>
                                                    <xs:element name="FormA24" type="tns:FormA24Type"/>
                                                    <xs:element name="FormA33" type="tns:FormA33Type"/>
                                                    <xs:element name="FormA35" type="tns:FormA35Type"/>
                                                    <xs:element name="FormA36" type="tns:FormA36Type"/>
                                                    <xs:element name="FormA38" type="tns:FormA38Type"/>
                                                    <xs:element name="FormA58" type="tns:FormA58Type"/>
                                                    <xs:element name="FormA59" type="tns:FormA59Type"/>
                                                    <xs:element name="FormA60" type="tns:FormA60Type"/>
                                                    <xs:element name="FormA65" type="tns:FormA65Type"/>
                                                    <xs:element name="FormA72" type="tns:FormA72Type"/>
                                                    <xs:element name="FormA73" type="tns:FormA73Type"/>
                                                </xs:choice>
                                            </xs:sequence>
                                            <xs:attribute name="id" use="required" fixed="COD"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element ref="ds:Signature"/>
                                    <!--cierra el COD  -->
                                    <!--Firma del Exportador -->
                                </xs:sequence>
                            </xs:complexType>
                            <!--cierra el CODExportador  -->
                        </xs:element>
                        <xs:element name="EH">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="EHId">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[A-Z0-9]{3}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="EHCountry" type="tns:Countries"/>
                                    <xs:element name="EHName" type="tns:BusinessNameType"/>
                                    <xs:element name="EHAddress" type="tns:AddressType"/>
                                    <xs:element name="EHCityLocality" type="tns:CityType"/>
                                    <xs:element name="EHTelephone" type="tns:TelephoneType" minOccurs="0"/>
                                    <xs:element name="EHFax" type="tns:TelephoneType" minOccurs="0"/>
                                    <xs:element name="EHEmail" type="tns:emailType" minOccurs="0"/>
                                    <xs:element name="EHURL" type="tns:httpURIType"/>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="CertificationEH">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CertificateControlCode" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="32"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="CertificateDate" type="xs:dateTime"/>
                                    <xs:element name="CertificateID">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern
                                                        value="(AR|BO|BR|CO|CU|CL|EC|MX|PA|PY|PE|UY|VE)[A-Za-z0-9]{3}[ACRHGT]{1}[A0-9]{1}[0-9]{3}[A-Za-z0-9]{8}[0-9]{2}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <!-- Campo 13.1 -->
                                    <!-- Campo 13.2 -->
                                    <!-- Campo 13.3 -->
                                </xs:sequence>
                            </xs:complexType>
                            <!-- CategoríCertificacióH 13. -->
                        </xs:element>
                        <!--....................................................................-->
                        <!--....................................................................-->
                        <!--....................................................................-->
                    </xs:sequence>
                    <xs:attribute name="id" use="required" fixed="CODEH"/>
                </xs:complexType>
                <!--cierra el CODEH  -->
            </xs:element>
            <xs:element ref="ds:Signature"/>
            <!--..................................Signature EH..................................-->
            <!--....................................................................-->
        </xs:sequence>
    </xs:complexType>
    <!--....................................................................-->
    <xs:complexType name="Producers">
        <xs:sequence>
            <xs:element name="ProducerQty" type="tns:QtyType"/>
            <xs:element name="Producer" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ProducerOrderNo" type="tns:OrderNoType"/>
                        <xs:element name="ProducerExporter">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="MISMO"/>
                                    <xs:enumeration value="DIFERENTE"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ProducerConfidenciality" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="NO CONFIDENCIAL"/>
                                    <xs:enumeration value="CONFIDENCIAL"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ProducerCountry" type="tns:Countries" minOccurs="0"/>
                        <xs:element name="ProducerBusinessName" type="tns:ShortBusinessNameType" minOccurs="0"/>
                        <xs:element name="ProducerAddress" type="tns:AddressType" minOccurs="0"/>
                        <xs:element name="ProducerCity" type="tns:CityType" minOccurs="0"/>
                        <xs:element name="ProducerTaxIdentification" type="tns:TaxIdentificationType" minOccurs="0"/>
                        <xs:element name="ProducerTelephone" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ProducerFax" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ProducerEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="ProducerURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--....................................................................-->
    <xs:complexType name="InvoicesNoDateOptional">
        <xs:sequence>
            <xs:element name="InvoiceQty" type="tns:QtyType"/>
            <xs:element name="Invoice" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InvoiceOrderNo" type="tns:OrderNoType"/>
                        <xs:element name="InvoiceNo" type="tns:InvoiceNoType" minOccurs="0"/>
                        <xs:element name="InvoiceDate" type="xs:dateTime" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="InvoicesDateOptional">
        <xs:sequence>
            <xs:element name="InvoiceQty" type="tns:QtyType"/>
            <xs:element name="Invoice" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InvoiceOrderNo" type="tns:OrderNoType"/>
                        <xs:element name="InvoiceNo" type="tns:InvoiceNoType"/>
                        <xs:element name="InvoiceDate" type="xs:dateTime" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoicesAllMandatory">
        <xs:sequence>
            <xs:element name="InvoiceQty" type="tns:QtyType"/>
            <xs:element name="Invoice" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InvoiceOrderNo" type="tns:OrderNoType"/>
                        <xs:element name="InvoiceNo" type="tns:InvoiceNoType"/>
                        <xs:element name="InvoiceDate" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoicesAllOptional">
        <xs:sequence>
            <xs:element name="InvoiceQty" type="tns:QtyType" minOccurs="0"/>
            <xs:element name="Invoice" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InvoiceOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                        <xs:element name="InvoiceNo" type="tns:InvoiceNoType" minOccurs="0"/>
                        <xs:element name="InvoiceDate" type="xs:dateTime" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--....................................................................-->
    <!-- esta lista es llamada por los acuerdos 252,6,38....................-->
    <xs:complexType name="GoodsListA">
        <xs:sequence>
            <xs:element name="GoodsQty" type="tns:QtyType"/>
            <xs:element name="Goods" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                        <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                        <xs:element name="GoodsItemCode"
                                    type="tns:ItemCodeType"/>     <!-- was ItemCodeAlternativeType -->
                        <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                        <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType" minOccurs="0"/>
                        <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType" minOccurs="0"/>
                        <xs:element name="GoodsItemFOB" type="tns:ValueType" minOccurs="0" maxOccurs="0"/>
                        <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                        <xs:element name="GoodsDeclarationDate" type="xs:dateTime" minOccurs="0"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GoodsListB">
        <xs:sequence>
            <xs:element name="GoodsQty" type="tns:QtyType"/>
            <xs:element name="Goods" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                        <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                        <xs:element name="GoodsItemCode" type="tns:ItemCodeType"/>
                        <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                        <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType"/>
                        <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType"/>
                        <xs:element name="GoodsItemFOB" type="tns:ValueType"/>
                        <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                        <xs:element name="GoodsDeclarationDate" type="xs:dateTime" minOccurs="0"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GoodsListC">
        <xs:sequence>
            <xs:element name="GoodsQty" type="tns:QtyType"/>
            <xs:element name="Goods" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                        <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType"/>
                        <xs:element name="GoodsItemCode" type="tns:ItemCodeType"/>
                        <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                        <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType"/>
                        <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType"/>
                        <xs:element name="GoodsItemFOB" type="tns:ValueType" minOccurs="0" maxOccurs="0"/>
                        <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                        <xs:element name="GoodsDeclarationDate" type="xs:dateTime" minOccurs="0"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- ................................................................. -->
    <!-- Declaring Global Element 'Countries' - using enumeration -->
    <xs:simpleType name="Countries">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AR"/>
            <xs:enumeration value="BO"/>
            <xs:enumeration value="BR"/>
            <xs:enumeration value="CL"/>
            <xs:enumeration value="CO"/>
            <xs:enumeration value="CU"/>
            <xs:enumeration value="EC"/>
            <xs:enumeration value="MX"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PY"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="UY"/>
            <xs:enumeration value="VE"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ................................................................. -->
    <!-- Declaring Global Element 'Acronyms' - using enumeration -->
    <xs:simpleType name="Acronyms">
        <xs:restriction base="xs:string">
            <xs:enumeration value="R01"/>
            <xs:enumeration value="R02"/>
            <xs:enumeration value="R03"/>
            <xs:enumeration value="R04"/>
            <xs:enumeration value="R07"/>
            <xs:enumeration value="A02"/>
            <xs:enumeration value="A06"/>
            <xs:enumeration value="A08"/>
            <xs:enumeration value="A13"/>
            <xs:enumeration value="A14"/>
            <xs:enumeration value="A18"/>
            <xs:enumeration value="A22"/>
            <xs:enumeration value="A23"/>
            <xs:enumeration value="A24"/>
            <xs:enumeration value="A33"/>
            <xs:enumeration value="A35"/>
            <xs:enumeration value="A36"/>
            <xs:enumeration value="A38"/>
            <xs:enumeration value="A40"/>
            <xs:enumeration value="A42"/>
            <xs:enumeration value="A46"/>
            <xs:enumeration value="A47"/>
            <xs:enumeration value="A49"/>
            <xs:enumeration value="A50"/>
            <xs:enumeration value="A51"/>
            <xs:enumeration value="A53"/>
            <xs:enumeration value="A55"/>
            <xs:enumeration value="A57"/>
            <xs:enumeration value="A58"/>
            <xs:enumeration value="A59"/>
            <xs:enumeration value="A60"/>
            <xs:enumeration value="A62"/>
            <xs:enumeration value="A63"/>
            <xs:enumeration value="A64"/>
            <xs:enumeration value="A65"/>
            <xs:enumeration value="A68"/>
            <xs:enumeration value="A69"/>
            <xs:enumeration value="A72"/>
            <xs:enumeration value="A73"/>
            <xs:enumeration value="H29"/>
            <xs:enumeration value="H38"/>
            <xs:enumeration value="G01"/>
            <xs:enumeration value="G02"/>
            <xs:enumeration value="T06"/>
            <xs:enumeration value="T07"/>
            <xs:enumeration value="CA1"/>
        </xs:restriction>
    </xs:simpleType>
    <!--....................................................................-->

    <!--............................aca van los nuevos tipos........................................-->
    <!-- esta lista es llamada por los acuerdos 18,36,38,59.........................................-->
    <xs:complexType name="ExporterA">
        <xs:sequence>
            <xs:element name="ExporterCountry" type="tns:Countries"/>
            <xs:element name="ExporterBusinessName" type="tns:BusinessNameType"/>
            <xs:element name="ExporterAddress" type="tns:AddressType" minOccurs="0"/>
            <xs:element name="ExporterCityLocality" type="tns:CityType" minOccurs="0"/>
            <xs:element name="ExporterTaxIdentification" type="tns:TaxIdentificationType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ExporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ExporterFax" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ExporterEmail" type="tns:emailType" minOccurs="0"/>
            <xs:element name="ExporterURL" type="tns:httpURIType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExporterB">
        <xs:sequence>
            <xs:element name="ExporterCountry" type="tns:Countries"/>
            <xs:element name="ExporterBusinessName" type="tns:BusinessNameType"/>
            <xs:element name="ExporterAddress" type="tns:AddressType"/>
            <xs:element name="ExporterCityLocality" type="tns:LocalityType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ExporterTaxIdentification" type="tns:TaxIdentificationType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ExporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ExporterFax" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ExporterEmail" type="tns:emailType" minOccurs="0"/>
            <xs:element name="ExporterURL" type="tns:httpURIType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExporterC">
        <xs:sequence>
            <xs:element name="ExporterCountry" type="tns:Countries"/>
            <xs:element name="ExporterBusinessName" type="tns:BusinessNameType"/>
            <xs:element name="ExporterAddress" type="tns:AddressType"/>
            <xs:element name="ExporterLocality" type="tns:LocalityType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ExporterCity" type="tns:CityType"/>
            <xs:element name="ExporterTaxIdentification" type="tns:TaxIdentificationType"/>
            <xs:element name="ExporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ExporterFax" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ExporterEmail" type="tns:emailType" minOccurs="0"/>
            <xs:element name="ExporterURL" type="tns:httpURIType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExporterD">
        <xs:sequence>
            <xs:element name="ExporterCountry" type="tns:Countries"/>
            <xs:element name="ExporterBusinessName" type="tns:BusinessNameType"/>
            <xs:element name="ExporterAddress" type="tns:AddressType"/>
            <xs:element name="ExporterLocality" type="tns:LocalityType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ExporterCity" type="tns:CityType"/>
            <xs:element name="ExporterTaxIdentification" type="tns:TaxIdentificationType"/>
            <xs:element name="ExporterTelephone" type="tns:TelephoneType"/>
            <xs:element name="ExporterFax" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ExporterEmail" type="tns:emailType" minOccurs="0"/>
            <xs:element name="ExporterURL" type="tns:httpURIType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!--....................................................................-->
    <!-- esta lista es llamada por los acuerdos 35,36,59....................-->
    <xs:complexType name="ImporterA">
        <xs:sequence>
            <xs:element name="ImporterCountry" type="tns:Countries"/>
            <xs:element name="ImporterBusinessName" type="tns:BusinessNameType" minOccurs="0"/>
            <xs:element name="ImporterAddress" type="tns:AddressType" minOccurs="0"/>
            <xs:element name="ImporterLocality" type="tns:LocalityType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ImporterCity" type="tns:CityType" minOccurs="0"/>
            <xs:element name="ImporterTaxIdentification" type="tns:TaxIdentificationType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ImporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ImporterFax" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ImporterEmail" type="tns:emailType" minOccurs="0"/>
            <xs:element name="ImporterURL" type="tns:httpURIType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ImporterB">
        <xs:sequence>
            <xs:element name="ImporterCountry" type="tns:Countries"/>
            <xs:element name="ImporterBusinessName" type="tns:BusinessNameType"/>
            <xs:element name="ImporterAddress" type="tns:AddressType"/>
            <xs:element name="ImporterLocality" type="tns:LocalityType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ImporterCity" type="tns:CityType" minOccurs="0"/>
            <xs:element name="ImporterTaxIdentification" type="tns:TaxIdentificationType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ImporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ImporterFax" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ImporterEmail" type="tns:emailType" minOccurs="0"/>
            <xs:element name="ImporterURL" type="tns:httpURIType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ImporterC">
        <xs:sequence>
            <xs:element name="ImporterCountry" type="tns:Countries"/>
            <xs:element name="ImporterBusinessName" type="tns:BusinessNameType"/>
            <xs:element name="ImporterAddress" type="tns:AddressType"/>
            <xs:element name="ImporterLocality" type="tns:LocalityType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ImporterCity" type="tns:CityType" minOccurs="0"/>
            <xs:element name="ImporterTaxIdentification" type="tns:TaxIdentificationType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ImporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ImporterFax" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ImporterEmail" type="tns:emailType" minOccurs="0"/>
            <xs:element name="ImporterURL" type="tns:httpURIType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ImporterD">
        <xs:sequence>
            <xs:element name="ImporterCountry" type="tns:Countries"/>
            <xs:element name="ImporterBusinessName" type="tns:BusinessNameType"/>
            <xs:element name="ImporterAddress" type="tns:AddressType"/>
            <xs:element name="ImporterLocality" type="tns:LocalityType" minOccurs="0" maxOccurs="0"/>
            <xs:element name="ImporterCity" type="tns:CityType" minOccurs="0"/>
            <xs:element name="ImporterTaxIdentification" type="tns:TaxIdentificationType"/>
            <xs:element name="ImporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ImporterFax" type="tns:TelephoneType" minOccurs="0"/>
            <xs:element name="ImporterEmail" type="tns:emailType" minOccurs="0"/>
            <xs:element name="ImporterURL" type="tns:httpURIType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- desde 18, 35 y 36 -->
    <xs:complexType name="Consignee">
        <xs:sequence>
            <xs:element name="ConsigneeCountry" type="tns:Countries" minOccurs="0"/>
            <xs:element name="ConsigneeBusinessName" type="tns:BusinessNameType" minOccurs="0"/>
            <xs:element name="ConsigneeAddress" type="tns:AddressType" minOccurs="0"/>
            <xs:element name="ConsigneeCity" type="tns:CityType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportMandatory">
        <xs:sequence>
            <xs:element name="TransportPortOfLoading" type="tns:TransportPortOfLoadingType"/>
            <xs:element name="TransportMeans" type="tns:TransportMeansType"/>
            <xs:element name="TransportCountryDestination" type="tns:Countries"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportOptionalDestination">
        <xs:sequence>
            <xs:element name="TransportPortOfLoading" type="tns:TransportPortOfLoadingType"/>
            <xs:element name="TransportMeans" type="tns:TransportMeansType"/>
            <xs:element name="TransportCountryDestination" type="tns:Countries" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ThirdOpComments">
        <xs:sequence>
            <xs:element name="ThirdOpStatement" type="xs:boolean" minOccurs="0"/>
            <xs:element name="ThirdOpCountry" type="tns:OpCountryType" minOccurs="0"/>
            <xs:element name="ThirdOpBusinessName" type="tns:BusinessNameType" minOccurs="0"/>
            <xs:element name="ThirdOpAddress" type="tns:AddressType" minOccurs="0"/>
            <xs:element name="ThirdOpInvoiceNo" type="tns:InvoiceNoType" minOccurs="0"/>
            <xs:element name="ThirdOpInvoiceDate" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Op3cCommentsStatement">
        <xs:sequence>
            <xs:element name="Op3cStatement" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Op3cComments">
        <xs:sequence>
            <xs:element name="Op3cStatement" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Op3cBusinessName" type="tns:BusinessNameType" minOccurs="0"/>
            <xs:element name="Op3cAddress" type="tns:AddressType" minOccurs="0"/>
            <xs:element name="Op3cCountry" type="tns:OpCountryType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Op3cCommentsInvoiced">
        <xs:sequence>
            <xs:element name="Op3cStatement" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Op3cBusinessName" type="tns:BusinessNameType" minOccurs="0"/>
            <xs:element name="Op3cAddress" type="tns:AddressType" minOccurs="0"/>
            <xs:element name="Op3cCountry" type="tns:OpCountryType" minOccurs="0"/>
            <xs:element name="Op3cInvoiceDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="Op3cInvoiceNo" type="tns:InvoiceNoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <!-- esta lista "Declaration" es llamada por los acuerdos 252, 6, 14, 18, 33, 35, 36, 38, 58, 59 ........-->
    <xs:complexType name="Declaration">
        <xs:sequence>
            <xs:element name="DeclarationDate" type="xs:dateTime"/>
            <xs:element name="DeclarationRequestNo" type="tns:OrderNoType" minOccurs="0"/>
            <xs:element name="Affidavit" type="tns:CommentsType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeclarationWithCountry">
        <xs:sequence>
            <xs:element name="CountryOfOrigin" type="tns:Countries"/>
            <xs:element name="DeclarationDate" type="xs:dateTime"/>
            <xs:element name="DeclarationRequestNo" type="tns:OrderNoType" minOccurs="0"/>
            <xs:element name="Affidavit" type="tns:CommentsType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeclarationWithDates">
        <xs:sequence>
            <xs:element name="CertificateInitialDate" type="xs:dateTime"/>
            <xs:element name="CertificateFinalDate" type="xs:dateTime"/>
            <xs:element name="DeclarationDate" type="xs:dateTime"/>
            <xs:element name="DeclarationRequestNo" type="tns:OrderNoType" minOccurs="0"/>
            <xs:element name="Affidavit" type="tns:CommentsType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ******************************************************************************** -->
    <xs:complexType name="FormR252Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterA"/>
            <xs:element name="Invoices" type="tns:InvoicesNoDateOptional"/>
            <xs:element name="GoodsList" type="tns:GoodsListA"/>
            <xs:element name="Importer" type="tns:ImporterA"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="Op3cComments" type="tns:Op3cComments" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA6Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterA"/>
            <xs:element name="Invoices" type="tns:InvoicesDateOptional"/>
            <xs:element name="GoodsList" type="tns:GoodsListA"/>
            <xs:element name="Importer" type="tns:ImporterA"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="ThirdOpComments" type="tns:ThirdOpComments" minOccurs="0"/>
                        <xs:element name="Op3cComments" type="tns:Op3cComments" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA14Type">
        <xs:sequence>
            <xs:element name="Exporter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ExporterCountry" type="tns:Countries"/>
                        <xs:element name="ExporterBusinessName" type="tns:BusinessNameType"/>
                        <xs:element name="ExporterAddress" type="tns:AddressType"/>
                        <xs:element name="ExporterLocality" type="tns:LocalityType"/>
                        <xs:element name="ExporterCity" type="tns:CityType" minOccurs="0"/>
                        <xs:element name="ExporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ExporterFax" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ExporterEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="ExporterURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList" type="tns:GoodsListB"/>
            <xs:element name="Importer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImporterCountry" type="tns:Countries"/>
                        <xs:element name="ImporterBusinessName" type="tns:BusinessNameType"/>
                        <xs:element name="ImporterAddress" type="tns:AddressType"/>
                        <xs:element name="ImporterLocality" type="tns:LocalityType"/>
                        <xs:element name="ImporterCity" type="tns:CityType" minOccurs="0"/>
                        <xs:element name="ImporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ImporterFax" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ImporterEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="ImporterURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Transport" type="tns:TransportOptionalDestination"/>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA18Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterB"/>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsQty" type="tns:QtyType"/>
                        <xs:element name="Goods" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                                    <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                                    <xs:element name="GoodsItemCode" type="tns:ItemCodeType"/>
                                    <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                                    <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType"/>
                                    <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType"/>
                                    <xs:element name="GoodsItemValue" type="tns:ValueType"/>
                                    <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                                    <xs:element name="GoodsDeclarationDate" type="xs:dateTime" minOccurs="0"/>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Importer" type="tns:ImporterB"/>
            <xs:element name="Consignee" type="tns:Consignee" minOccurs="0"/>
            <xs:element name="Transport" type="tns:TransportMandatory"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="PACComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="ThirdOpComments" type="tns:ThirdOpComments" minOccurs="0"/>
                        <xs:element name="HSVer" type="tns:FreeText256" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA24Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterC"/>
            <xs:element name="Invoices" type="tns:InvoicesDateOptional"/>
            <xs:element name="GoodsList" type="tns:GoodsListC"/>
            <xs:element name="Importer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImporterCountry" type="tns:Countries"/>
                        <xs:element name="ImporterBusinessName" type="tns:BusinessNameType"/>
                        <xs:element name="ImporterAddress" type="tns:AddressType"/>
                        <xs:element name="ImporterCity" type="tns:CityType"/>
                        <xs:element name="ImporterTaxIdentification" type="tns:TaxIdentificationType"/>
                        <xs:element name="ImporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ImporterFax" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ImporterEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="ImporterURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="Op3cComments" type="tns:Op3cComments" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:DeclarationWithCountry"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA33Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterD"/>
            <xs:element name="Producers" type="tns:Producers"/>
            <xs:element name="Subscriber" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SubscriberSubmitterName" type="tns:BusinessNameType"/>
                        <xs:element name="SubscriberSubmitterTitle" type="tns:ShortBusinessNameType"/>
                        <xs:element name="SubscriberBusinessName" type="tns:ShortBusinessNameType"/>
                        <xs:element name="SubscriberTelephone" type="tns:TelephoneType"/>
                        <xs:element name="SubscriberFax" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="SubscriberEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="SubscriberURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsQty" type="tns:QtyType"/>
                        <xs:element name="Goods" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                                    <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType"/>
                                    <xs:element name="GoodsItemCode" type="tns:ItemCodeType"/>
                                    <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                                    <xs:element name="GoodsItemSeriesNo" type="tns:ItemSeriesNoType" minOccurs="0"/>
                                    <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType"/>
                                    <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType"/>
                                    <xs:element name="GoodsItemRVC">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="VT"/>
                                                <xs:enumeration value="NO"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                                    <xs:element name="GoodsItemOtherInstancesList">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="GoodsItemOtherInstances" maxOccurs="unbounded">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="DMI"/>
                                                            <xs:enumeration value="MAI"/>
                                                            <xs:enumeration value="BMF"/>
                                                            <xs:enumeration value="ACU"/>
                                                            <xs:enumeration value="NO"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GoodsProducerOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                                    <xs:element name="GoodsDeclarationDate" type="xs:dateTime" minOccurs="0"/>
                                    <xs:element name="GoodsAR" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="GoodsARIssuingAuthorityName"
                                                            type="tns:BusinessNameType" minOccurs="0"/>
                                                <xs:element name="GoodsARReferenceNumber" type="tns:UnitType"
                                                            minOccurs="0"/>
                                                <xs:element name="GoodsArIssueDate" type="xs:dateTime" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Importer" type="tns:ImporterD"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="ThirdOpComments" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ThirdOpStatement" type="xs:boolean" minOccurs="0"/>
                                    <xs:element name="ThirdOpCountry" type="tns:OpCountryType" minOccurs="0"/>
                                    <xs:element name="ThirdOpBusinessName" type="tns:BusinessNameType" minOccurs="0"/>
                                    <xs:element name="ThirdOpAddress" type="tns:AddressType" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA35Type">
        <xs:sequence>
            <xs:element name="Exporter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ExporterCountry" type="tns:Countries"/>
                        <xs:element name="ExporterBusinessName" type="tns:BusinessNameType"/>
                        <xs:element name="ExporterAddress" type="tns:AddressType"/>
                        <xs:element name="ExporterCity" type="tns:CityType"/>
                        <xs:element name="ExporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ExporterFax" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ExporterEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="ExporterURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList" type="tns:GoodsListB"/>
            <xs:element name="Importer" type="tns:ImporterB"/>
            <xs:element name="Consignee" type="tns:Consignee" minOccurs="0"/>
            <xs:element name="Transport" type="tns:TransportMandatory"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="ThirdOpComments" type="tns:ThirdOpComments" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA36Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterB"/>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList" type="tns:GoodsListB"/>
            <xs:element name="Importer" type="tns:ImporterB"/>
            <xs:element name="Consignee" type="tns:Consignee" minOccurs="0"/>
            <xs:element name="Transport" type="tns:TransportMandatory"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="Op3cComments" type="tns:Op3cCommentsStatement" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA38Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterB"/>
            <xs:element name="Invoices" type="tns:InvoicesDateOptional"/>
            <xs:element name="GoodsList" type="tns:GoodsListA"/>
            <xs:element name="Importer" type="tns:ImporterA"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="Op3cComments" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Op3cStatement" type="xs:boolean" minOccurs="0"/>
                                    <xs:element name="Op3cBusinessName" type="tns:BusinessNameType" minOccurs="0"/>
                                    <xs:element name="Op3cAddress" type="tns:AddressType" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA58Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterA"/>
            <xs:element name="Invoices" type="tns:InvoicesDateOptional"/>
            <xs:element name="GoodsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsQty" type="tns:QtyType"/>
                        <xs:element name="Goods" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                                    <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                                    <xs:element name="GoodsItemCode" type="tns:ItemCodeType"/>
                                    <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                                    <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType" minOccurs="0"/>
                                    <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType" minOccurs="0"/>
                                    <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                                    <xs:element name="GoodsDeclarationDate" type="xs:dateTime"/>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Importer" type="tns:ImporterA"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="ThirdOpComments" type="tns:ThirdOpComments" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA59Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterB"/>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsQty" type="tns:QtyType"/>
                        <xs:element name="Goods" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                                    <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                                    <xs:element name="GoodsItemCode" type="tns:ItemCodeType"/>
                                    <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                                    <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType"/>
                                    <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType"/>
                                    <xs:element name="GoodsItemFOB" type="tns:ValueType"/>
                                    <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                                    <xs:element name="GoodsDeclarationDate" type="xs:dateTime"/>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Importer" type="tns:ImporterB"/>
            <xs:element name="Transport" type="tns:TransportOptionalDestination"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="Op3cComments" type="tns:Op3cCommentsInvoiced" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA60Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterD"/>
            <xs:element name="Producers" type="tns:Producers"/>
            <xs:element name="Subscriber" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SubscriberSubmitterName" type="tns:BusinessNameType"/>
                        <xs:element name="SubscriberSubmitterTitle" type="tns:ShortBusinessNameType"/>
                        <xs:element name="SubscriberBusinessName" type="tns:ShortBusinessNameType"/>
                        <xs:element name="SubscriberTelephone" type="tns:TelephoneType"/>
                        <xs:element name="SubscriberFax" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="SubscriberEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="SubscriberURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Invoices" type="tns:InvoicesAllOptional" minOccurs="0"/>
            <xs:element name="GoodsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsQty" type="tns:QtyType"/>
                        <xs:element name="Goods" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                                    <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                                    <xs:element name="GoodsItemCode" type="tns:ItemCodeType"/>
                                    <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                                    <xs:element name="GoodsItemSeriesNo" type="tns:ItemSeriesNoType" minOccurs="0"/>
                                    <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType"/>
                                    <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType"/>
                                    <xs:element name="GoodsItemRVC">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="VT"/>
                                                <xs:enumeration value="NO"/>
                                                <xs:enumeration value="CN"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                                    <xs:element name="GoodsItemOtherInstancesList">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="GoodsItemOtherInstances" maxOccurs="unbounded">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="DMI"/>
                                                            <xs:enumeration value="MAI"/>
                                                            <xs:enumeration value="BMF"/>
                                                            <xs:enumeration value="ACU"/>
                                                            <xs:enumeration value="N/A"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GoodsProducerOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                                    <xs:element name="GoodsDeclarationDate" type="xs:dateTime" minOccurs="0"/>
                                    <xs:element name="GoodsAR" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="GoodsARIssuingAuthorityName"
                                                            type="tns:BusinessNameType" minOccurs="0"/>
                                                <xs:element name="GoodsARReferenceNumber" type="tns:UnitType"
                                                            minOccurs="0"/>
                                                <xs:element name="GoodsArIssueDate" type="xs:dateTime" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Importer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImporterCountry" type="tns:Countries"/>
                        <xs:element name="ImporterBusinessName" type="tns:BusinessNameType"/>
                        <xs:element name="ImporterAddress" type="tns:AddressType"/>
                        <xs:element name="ImporterCity" type="tns:CityType" minOccurs="0"/>
                        <xs:element name="ImporterTaxIdentification" type="tns:TaxIdentificationType"/>
                        <xs:element name="ImporterTelephone" type="tns:TelephoneType"/>
                        <xs:element name="ImporterFax" type="tns:TelephoneType"/>
                        <xs:element name="ImporterEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="ImporterURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="ThirdOpComments" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ThirdOpStatement" type="xs:boolean" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:DeclarationWithDates"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA65Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterC"/>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList" type="tns:GoodsListC"/>
            <xs:element name="Importer" type="tns:ImporterD"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="Op3cComments" type="tns:Op3cCommentsStatement" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:DeclarationWithCountry"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA72Type">
        <xs:sequence>
            <xs:element name="Exporter" type="tns:ExporterB"/>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GoodsQty" type="tns:QtyType"/>
                        <xs:element name="Goods" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsOrderNo" type="tns:OrderNoType"/>
                                    <xs:element name="GoodsInvoiceOrderNo" type="tns:OrderNoType" minOccurs="0"/>
                                    <xs:element name="GoodsItemCode" type="tns:ItemCodeType"/>
                                    <xs:element name="GoodsItemName" type="tns:ItemNameType"/>
                                    <xs:element name="GoodsItemWeightAmount" type="tns:WeightAmountType"/>
                                    <xs:element name="GoodsItemMeasureUnit" type="tns:UnitType"/>
                                    <xs:element name="GoodsItemFOB" type="tns:ValueType"/>
                                    <xs:element name="GoodsItemOriginRules" type="tns:OriginRulesType"/>
                                    <xs:element name="GoodsDeclarationDate" type="xs:dateTime"/>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Importer" type="tns:ImporterB"/>
            <xs:element name="Transport" type="tns:TransportOptionalDestination"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="Op3cComments" type="tns:Op3cCommentsInvoiced" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:complexType name="FormA73Type">
        <xs:sequence>
            <xs:element name="Exporter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ExporterCountry" type="tns:Countries"/>
                        <xs:element name="ExporterBusinessName" type="tns:BusinessNameType"/>
                        <xs:element name="ExporterAddress" type="tns:AddressType"/>
                        <xs:element name="ExporterCity" type="tns:CityType"/>
                        <xs:element name="ExporterTelephone" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ExporterFax" type="tns:TelephoneType" minOccurs="0"/>
                        <xs:element name="ExporterEmail" type="tns:emailType" minOccurs="0"/>
                        <xs:element name="ExporterURL" type="tns:httpURIType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Invoices" type="tns:InvoicesAllMandatory"/>
            <xs:element name="GoodsList" type="tns:GoodsListB"/>
            <xs:element name="Importer" type="tns:ImporterB"/>
            <xs:element name="Consignee" type="tns:Consignee" minOccurs="0"/>
            <xs:element name="Transport" type="tns:TransportMandatory"/>
            <xs:element name="Comments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GeneralComments" type="tns:CommentsType" minOccurs="0"/>
                        <xs:element name="ThirdOpComments" type="tns:ThirdOpComments" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declaration" type="tns:Declaration"/>
        </xs:sequence>
    </xs:complexType>
    <!-- ******************************************************************************** -->
    <xs:simpleType name="BusinessNameType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="256"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ShortBusinessNameType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="256"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LocalityType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TelephoneType">
        <xs:restriction base="xs:string">
            <xs:pattern value="((\d|\+\d)(\d{0,2}))?[-. (]*(\d{1,3})[-. )]*(\d{3,4})[-. ]*(\d{4})([ xi](\d+))?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="httpURIType">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="(http|https)?://.*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CityType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="emailType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:pattern value="[a-zA-Z0-9._%+-]{1,16}.{1,}@.{1,}[a-zA-Z0-9._%+-]{1,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WeightAmountType">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16"/>
            <xs:fractionDigits value="4"/>
            <xs:minExclusive value="0"/>
            <xs:maxInclusive value="9999999999999999.9999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValueType">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="18"/>
            <xs:fractionDigits value="2"/>
            <xs:minExclusive value="0"/>
            <xs:maxInclusive value="999999999999999999.99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxIdentificationType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrderNoType">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxExclusive value='100000'/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnitType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="16"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvoiceNoType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="36"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QtyType">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxExclusive value='100000'/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OpCountryType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="2"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItemCodeType">
        <xs:restriction base="xs:string">
            <!-- <xs:pattern value="[0-9]{4}\.[0-9]{2}\.[0-9]{2}|[0-9]{4}\.[0-9]{1}\.[0-9]{2}|[0-9]{4}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/> -->
            <xs:pattern
                    value="[0-9]{4}\.[0-9]{2}|[0-9]{4}\.[0-9]{2}\.[0-9]{2}|[0-9]{2}\.[0-9]{2}\.[0-9]{1}\.[0-9]{2}|[0-9]{4}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--
      <xs:simpleType name="ItemCodeAlternativeType">
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{4}\.[0-9]{2}\.[0-9]{2}|[0-9]{2}\.[0-9]{2}\.[0-9]{1}\.[0-9]{2}|[0-9]{4}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
        </xs:restriction>
      </xs:simpleType> -->
    <xs:simpleType name="ItemNameType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="2048"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OriginRulesType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="256"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CommentsType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransportPortOfLoadingType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="70"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransportMeansType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FreeText256">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItemSeriesNoType">
        <xs:restriction base="xs:token">
            <xs:maxLength value="64"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
